*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/first_bg.gif);
}

.dev_photo{
    height: 200px;
    width: 270px;
}

.pointer{
    cursor: pointer;
}

.block{
    height: 50px;
}

.modal{
    display: block;
}

.slide-enter{
    opacity: 0;
}

.slide-enter-active{
    transition: opacity 0.5s;
}

.slide-leave-active{
    transition: opacity 0.5s;
}

.slide-leave-to{
    opacity: 0;
}

.progress{
    border: aqua 1px solid;
}
